.question-table {
    .ant-table-thead>tr>th {
        background-color: #f6f9fc;
        color: #083070;
        font-weight: 600;
        // text-align: center;
    }
}

.question-cell {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    max-height: 3em;
    line-height: 1.5em;
}

.answer-list-preview {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.answer-item {
  font-size: 13px;
  color: #333;
//   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.answer-item.correct {
  color: #22a112;
  font-weight: 600;
}


.table-list-question{
  margin-bottom: 30px;
  margin-top: 30px;
}