.color-red{
    color: red;
}

.info-class{
    margin-bottom: 20px;
    .info-class-item{
        color: #4a5466 !important;
        font-weight: 500;
        margin-right: 7px;
        margin-left: 14px;
    }
}

.info-label{
        font-weight: 500;
        margin-bottom: 5px;
    }