.ant-btn-primary{
    color: rgb(255, 255, 255) !important;
    background: rgb(12, 66, 153) !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(12, 66, 153) !important;
    border-image: initial !important;
    border-radius: 4px;
    font-weight: 500;
}

.ant-btn-secondary{
    border-radius: 4px;
    font-weight: 500;
    margin-right: 10px;
}

.cpn-action{
    .cpn-action-edit{
        margin-right: 5px;
        
    }
}

.lbl-active{
    width: fit-content;
    color:#00B42A;
    background-color: #E5F7E9;
    padding:  2px 6px;
    border-radius: 6px ;
    font-size: 11px;
}

.lbl-inactive{
    width: fit-content;
    color:#5D697E;
    background-color: #eff0f0c2;
    padding:  2px 6px;
    border-radius: 6px ;
    font-size: 11px;
}

.name-subject{
    color: #081834!important;
    font-weight: 500;
    font-size: 14px;
}

.code-subject {
    color: #8e97a5 !important;
    font-weight: 400 !important;
    font-size: 12px !important;
}

.description-subject{
    display: -webkit-box !important;
    width: fit-content;
    overflow: hidden !important;
    color: #081834;
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
    line-height: 24px;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
}

.cursor-pointer{
    cursor: pointer;
}

.text-no-description{
    color: #8e97a5 !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    font-style: normal !important;
    line-height: 24px !important;
}