.exam-form {
  max-width: 1000px;
}

.math-editor {
  border: 1px solid #e5e7eb;
  padding: 8px;
  border-radius: 6px;
}

.class-subject {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 100%;
  /* border: 1px solid red; */
}

.type-duration-difficulty {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  width: 100%;
  /* border: 1px solid red; */
}

.startDate-endDate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 100%;
  /* border: 1px solid red; */
}

.startDate {
  /* border: 1px solid black; */
}