.edufit-expanded-table {
  margin: -16px -16px !important;
  padding-top: 25px !important;
  background-color: white !important;

  .ant-table-middle {
    margin-left: 25px !important;
  }

  .ant-table-tbody > tr:last-child > td {
    border-bottom: none !important;
  }
}

.edufit-table-fixed {
  background-color: white;
  //Custom table
  .ant-table-thead > tr > th {
    background-color: rgb(235, 242, 255);
    color: rgb(12, 66, 153) !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    font-style: normal !important;
    line-height: 14px !important;
    padding: 6px 8px !important;
    border-bottom: 0px !important;

    &:before {
      display: none;
    }
  }

  .edufit-table-pink {
    .ant-table-thead > tr > th {
      color:rgb(8, 24, 52) !important;
    //   background-color: @grey-light;
    }
  }

  .ant-table-content > table > thead > tr > th,
  .ant-table-content > table > tbody > tr > td {
    border-right: none !important;
  }

  .ant-table-container table > thead > tr:first-child th:first-child {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
  }

  .ant-table-container table > thead > tr:last-child th:last-child {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
  }

  //Custom pagination
  .ant-pagination-item{
    height: 100%;
  }
  .ant-pagination-item a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
    margin-right: 2px;
    margin-left: 2px;
    padding: 4px;
    border: 1px solid ;
    border-radius: 6px;
  }

  .ant-pagination-item-active {
    border: none;
  }

  .ant-pagination-item-active a {
    // color: @edufit-darker;
    // border-color: @edufit-darker;
  }

  .ant-pagination-total-text {
    line-height: 32px !important;
    vertical-align: middle;
  }

  .ant-select-single.ant-select-sm:not(.ant-select-customize-input) .ant-select-selector {
    display: flex;
    align-items: center;
    height: 32px;
    border-radius: 6px;
  }

  .ant-pagination-options{
    display: none;
  }

  .ant-pagination.ant-pagination-mini .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination.ant-pagination-mini .ant-pagination-next .ant-pagination-item-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-right: 2px;
    margin-left: 2px;
    // border: 1px solid @border-color;
    border-radius: 6px;
  }

  .ant-pagination-disabled .ant-pagination-item-link {
    // background-color: @bg-disable !important;
  }

  .name {
    // color: @text-primary;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
  }
  .code {
    // color: @secondary-color;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .no-description {
    // color: @secondary-color;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
  }
  .text-normal {
    // color: @text-primary;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
  }
}

.ant-pagination-total-text {
  position: absolute !important;
  left: 0 !important;
//   color: @secondary-color !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 14px !important;
}

.ant-pagination-options {
  .ant-select-selection-item {
    // color: @text-primary;
    font-weight: 500 !important;
    font-size: 13px !important;
    font-style: normal !important;
    line-height: 24px;
  }

  .ant-select-selector {
    padding: 0 12px !important;
  }
}

.c-multi-drag-table .ant-table-tbody > tr.row-item.row-dragging {
  display: table;
  background: #fafafa;
  border: 1px solid #f0f0f0;
}

.icon-drag-table {
  justify-content: center !important;
//   color: @edufit-lighter;
  cursor: grab !important;
}

.edufit-table-timetable {
  background-color: white;
  //Custom table
  .ant-table-header {
    box-shadow: 0px 10px 8px -8px rgba(8, 48, 112, 0.17);
  }
  .ant-table-thead {
    background-color: white !important;
  }
  .ant-table-thead > tr > th {
    font-weight: 500 !important;
    font-size: 15px;
    line-height: 24px;
    background-color: white !important;
    border-bottom: 0 !important;

    &:before {
      display: none;
    }
  }

  .ant-table-thead > tr {
    .ant-table-cell {
      padding: 6px 10px !important;
    //   color: @text-primary !important;
      border-radius: 4px;
    }
  }

  .ant-table-content > table > thead > tr > th,
  .ant-table-content > table > tbody > tr > td {
    border: none !important;
  }

  .ant-select-single.ant-select-sm:not(.ant-select-customize-input) .ant-select-selector {
    display: flex;
    align-items: center;
    height: 32px;
    border-radius: 6px;
  }
  .ant-table-row-level-0 {
    .ant-table-cell {
      width: 100%;
      padding: 6px 8px 4px !important;
      vertical-align: baseline;
    //   border-right: 1px dashed @line-1;
      border-bottom: none;

      &:first-child {
        vertical-align: middle;
        background-color: white;
        border-right: none;
        // border-bottom: 1px dashed @line-1;
        box-shadow: 4px 0px 10px -4px rgba(8, 48, 112, 0.09);
      }
    }

    .ant-table-cell-row-hover {
      // color: inherit !important;
      background-color: transparent !important;
      &:first-child {
        background-color: #fff !important;
      }
    }
  }

  .name {
    // color: @text-primary;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
  }
  .code {
    // color: @secondary-color;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .no-description {
    // color: @secondary-color;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
  }
  .text-normal {
    // color: @text-primary;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
  }
}

.table-drag-drop {
  tr.ant-table-expanded-row.ant-table-expanded-row-level-1 {
    display: none;
  }
}

.edufit-expanded-table {
  .ant-table-thead > tr > th {
    padding: 6px 8px !important;
    // color: @text-primary !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    font-style: normal !important;
    line-height: 14px !important;
    // background-color: @bg-disable;
    border-bottom: 0 !important;

    &:before {
      display: none;
    }
  }
}
.disable-row {
  td {
    background-color: #fafafa;
  }
}
.ant-table .ant-table-container .ant-table-body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.ant-table .ant-table-container .ant-table-body::-webkit-scrollbar-thumb {
  background: #b5b5b5;
  border-radius: 10px;
}

.ant-table .ant-table-container .ant-table-body::-webkit-scrollbar-track {
  background: #e5e5e5;
}

.ant-table-body::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
  border-radius: 6px !important;
}
