.name-exam {
  color: #081834;
  font-weight: 500;
  font-size: 14px;
}

.lbl-active {
  color: #00b42a;
  background: #e5f7e9;
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 11px;
}

.lbl-inactive {
  color: #5d697e;
  background: #eff0f0;
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 11px;
}

.cursor-pointer {
  cursor: pointer;
}

.cpn-action {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.page-title-breadcrumb {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.breadcrumb-item {
    cursor: pointer;
    color: #000000;
    transition: all 0.2s ease;
}

.breadcrumb-item:hover {
    color: #0c4299;
}

.breadcrumb-item.active {
    color: #0c4299;
    text-decoration: underline;
}

.breadcrumb-separator {
    margin: 0 6px;
    color: #000000;
}

.my-proform-group .ant-space {
    gap: 0 8px !important;
}