.custom-drawer-form {
  .ant-drawer-header {
    padding: 24px 24px 0 24px !important;
    border: none !important;

    .ant-drawer-close {
      margin-top: 5px !important;
      margin-right: 8px !important;
      padding: 0 2px !important;
      font-weight: 900 !important;
      svg {
        //width: 16px !important;
        height: 12px !important;
        stroke:#4a5466;
        stroke-width: 50;
      }
    }

    .ant-drawer-title {
      color: #081834 !important;
      font-weight: 500 !important;
      font-size: 24px !important;
      font-style: normal !important;
      line-height: 32px !important;
      text-transform: capitalize !important;
    }
  }

  .form-subtitle {
    padding-bottom: 10px !important;
    color: #8e97a5;
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
    line-height: 24px;
    text-transform: none !important;
  }

  .ant-divider {
    margin: 0 0 16px 0;
  }

  .ant-drawer-body {
    padding: 0 24px 16px !important;
  }

  label {
    color: #4a5466 !important;
  }

  .ant-drawer-footer {
    button {
      color: #081834;
      font-weight: 500;
      font-size: 13px;
      line-height: 24px;
    }
  }
  .ant-switch-checked {
    background-color: #0c4299  !important; 
  }
  .ant-form-item-label{
    color: #4a5466!important;
    font-weight: 500;
    label{
      font-size: 13px;
    }
  }
  .ant-form-item{
    margin-bottom: 20px;
  }
  /* Ẩn dấu * mặc định */
  .ant-form-item-required::before {
    display: none !important;
  }

  /* Tạo dấu * mới ở bên phải */
  .ant-form-item-required::after {
    content: ' *' !important;
    color: #d72229;        
    margin-left: 4px;   
    font-size: 14px;
  }

  .ant-form-item-vertical .ant-form-item-label >label::after, :where(.css-dev-only-do-not-override-1a75fj6).ant-form-item-vertical .ant-col-24.ant-form-item-label >label::after, :where(.css-dev-only-do-not-override-1a75fj6).ant-form-item-vertical .ant-col-xl-24.ant-form-item-label >label::after {
    visibility: visible;
  }

  .ant-btn[disabled], .ant-btn[disabled]:hover, .ant-btn[disabled]:focus, .ant-btn[disabled]:active {
    color: #97a0af !important;
    background: #ebecf0 !important;
    border: 1px solid #D6DAE1 !important;
  }
}