/*
-------------------------------------------------
-------------------Page header-------------------
 */
.page-container {
  // min-height: calc(100vh - 56px);
  .ant-page-header {
    padding: 0;
    margin-bottom: 24px;
  }
  .ant-page-header-heading-sub-title {
    width: 100% !important;
  }

  //-------------------breadcrumb---------------
  .ant-breadcrumb {
    color: rgb(142, 151, 165) !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    font-style: normal !important;
    line-height: 14px !important;
    text-transform: capitalize !important;
  }

  //-------------------Title--------------------
  .ant-page-header-heading-title {
    color: rgb(8, 24, 52) !important;
    font-weight: 500 !important;
    font-size: 24px !important;
    font-style: normal !important;
    line-height: 32px !important;
    text-transform: capitalize !important;
  }
  .ant-breadcrumb + .ant-page-header-heading {
    margin-top: 12px !important;
  }

  .ant-page-header-heading-sub-title {
    color: rgb(74, 84, 102) !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    font-style: normal !important;
    line-height: 24px !important;
  }

  .ant-page-header-heading-extra span {
    font-weight: 500;
    font-size: 13px;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
  }
}