.answer-question-edit {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.difficulty-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 100%;
}

.title-answer {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.answer-table {
    .ant-table-thead>tr>th {
        background-color: #f6f9fc;
        color: #083070;
        font-weight: 600;
        // text-align: center;
    }
}

.difficulty-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 100%;
}