.dashboardMenu :global(.ant-menu-item) {
  margin-bottom: 16px;
}

.logo{
  width: 100px;
}
 
.customSider :global(.ant-menu-item-selected) {
     color: rgb(9, 80, 195);
}

/* Trigger bo tròn */
.customSider :global(.ant-layout-sider-trigger) {
  width: 32px !important;
  height: 32px !important;
  border-radius: 50% !important;
  background: #ffffff !important;
  border: 1px solid #e2e8f0;
  position: absolute;
  right: -16px;           /* nửa chiều rộng để thò ra ngoài */
  top: 80px;             /* chỉnh vị trí theo giao diện */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: #475569 !important;
  font-size: 14px !important;
  transition: all 0.2s ease;
}

/* Hover hiệu ứng */
.customSider :global(.ant-layout-sider-trigger:hover) {
  background: #f1f5f9 !important;
  color: #1e293b !important;
}
